<?xml version="1.0" encoding="utf-8" ?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.2/phpunit.xsd"
	bootstrap="bootstrap.php" strict="true" verbose="true"
	timeoutForSmallTests="900" timeoutForMediumTests="900"
	timeoutForLargeTests="900" colors="true">
	<testsuite name='Activity Defaults App - Unit Tests'>
		<directory suffix='test.php'>unit</directory>
	</testsuite>
	<testsuite name='Activity Defaults App - Integration Tests'>
		<directory suffix='test.php'>integration</directory>
	</testsuite>
	<!-- filters for code coverage -->
	<filter>
		<whitelist>
			<directory suffix=".php">../../activitydefaults</directory>
			<exclude>
				<directory suffix=".php">../../activitydefaults/templates
				</directory>
				<directory suffix=".php">../../activitydefaults/tests</directory>
			</exclude>
		</whitelist>
	</filter>
	<logging>
		<log type="coverage-html" target="coverage-report" />
	</logging>
</phpunit>
