table.activitydefaults.admin_settings {
	max-width: 550px;
	white-space: normal;
	width: 100%;
}

table.activitydefaults.admin_settings tbody tr {
  height: 2.5em;
}

table.activitydefaults.admin_settings td.small, 
table.activitydefaults.admin_settings th.small {
	text-align: center;
} 

table.activitydefaults.admin_settings td, 
table.activitydefaults.admin_settings th {
	border-bottom: 1px solid #ddd;
	padding: 0 .5em;
	padding-left: .8em;
	text-align: left;
	font-weight: normal;
}

table.activitydefaults.admin_settings th.small {
	height: 2em;
	color: #999;
}



table.activitydefaults.admin_settings td.activity_select_group {
	text-align: left;
}